# Dependencias (Nunca se suben al repositorio)
node_modules/
/jspm_packages/

# Logs de errores de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Base de datos local de SQLite (Para no sobreescribir tus datos locales en Git)
*.db
*.db-journal
*.sqlite
*.sqlite3

# Archivos de entorno/Configuraciones secretas (Llaves, contraseñas, JWT tokens)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Carpetas del sistema operativo o editores de código
.vscode/
.idea/
Thumbs.db
.DS_Store